body{
    background-color: #666;
    color: #fff;
    font-family: Arial;
    line-height: 25px;
}

a{
    color: #fff;
    text-decoration: none;
}

ul{
    padding: 0;
}

.clr{
   clear: both;   
}

#container{
    background-color: #333;
    margin: 30px auto;
    padding: 10px;
    width: 960px;
    overflow: hidden;
}

.navbar{
 
    background-color: #666;
    height: 40px;
}

.navbar ul{
    padding-top: 13px;
    padding-left: 10px;
}

.navbar li{
    list-style: none;
    float: left;
    padding-right: 20px;
}

.main{
    float: left;
    width: 60%;
}

.pointer{
    font-weight: bold;
    color: black;
}
.sidebar{
    float: right;
    width: 30%;
    background-color: #666;
    margin-top: 30px;
    padding: 10px;
}

.footer{
    text-align: center;
    background-color: #666;
    padding: 10px;
    margin-top: 30px;
}

.services a{
    background-color: #666;
    padding: 10px;
}

.services li{
    padding: 10px;
    border-bottom: 2px #666 dashed;
    margin-bottom: 20px;
}

input, textarea{
    width: 100%;
    
}